mongodb.host={mongodb.host}
mongodb.ssl={mongodb.ssl}

hero.api.uri={hero.api.uri}

scuid.proxy.api.uri={scuid.uri}/{scuid.api.internal.context}/graph
scuid.internal.api.uri={scuid.uri}/{scuid.api.internal.context}

Kasba.joins.persist={Kasba.joins.persist}

graphity.api.graph.uri={graphity.api.graph.uri}

search.api.uri={search.api.uri}
search.transport.hosts={search.transport.hosts}
search.client.method={search.client.method}
search.cluster.name={search.cluster.name}

scuid.agent.username={Kasba.serviceAccount.username}
scuid.agent.password={Kasba.serviceAccount.password}
